<%= form_for :term, url: search_path, method: :get do |form| %>
  <p>
  <form class="form-inline">
    <div class="input-group">
    <%= text_field_tag :term, params[:term] ,class: "form-control mr-sm-2",type:'search', placeholder:t('search')%>
    <%= submit_tag t("search"), name: nil, class: "btn btn-outline-light my-2 my-sm-0" %>
    </div>
  </form>
  </p>
<% end %>