<div style="text-align: center;">
<h1 style="color: #cc0000"><%= t('about')%></h1>
<div class="container">
<iframe height="400" width="600" src="http://www.youtube.com/embed/Cvk5rXWqwgM" frameborder="0" scrolling="yes" allowfullscreen>
</iframe>
</div>
</div>