<div class="container-fluid">
  <div class="row">
  <div class="col-sm-2">
  <h2 class = "center"><%= t'tags.tags' %>:</h2>
            <div id="tag_cloud">
  <% tag_cloud Campaign.tag_counts, %w[s m l] do |tag, css_class| %>
                 <span class="badge badge-pill badge-primary">
                  <%= link_to tag.name, tag_path(tag.name), class: css_class ,:style=>'color:#FFFFFF;font-size:20px'%>

                </span>

  <% end %>
              </div>
  </div>
    <div class="col-lg-8">
      <%= will_paginate @welcome, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
      <div id="campaigns">
        <div class="row">
          <% @campaigns.each do |campaign| %>
            <%= render campaign %></p>
          <% end %>
        </div>
      </div>
    </div>
</div>
</div>