 <div id="tag_cloud">
    <%= t'tags.tag_cloud' %>
    <% tag_cloud Campaign.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <div class="container">
  <div id="campaigns">
    <div class="row">
    <% @campaigns.each do |campaign| %>
      <%= render campaign %></p>
    <% end %>
  </div>
  </div>
  </div>