<%= form_with(model: @news, local: true) do |f| %>

  <div class="field">
    <p>
      <%= form.text_field :title %>
    </p>
  </div>
  <% markitup  %>
  <div class="field">
    <p>
      <%= form.text_area :body  %>
    </p>
  </div>
<% end %>

<%= link_to t('back'), :back %>